extends layout

block content
    h1 #[a(href="/" class='home') GigaTune]

    if result
        ul
            each val in result
                li
                    a(href='/concert/'+val) #{val}
                    br




