extends layout

block content
    h1= title


    if show_table
        p Welcome to #{title}
        form(action="/artist" method="GET")
            label Type any artist name to see similar artists
            br
            input(type="text" value="artist" name="artist" placeholder="")
            input(type="submit")

    if result
        ul
            each val in result
                li= val
                

